body {
    margin: 0px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

body {
    background-color: rgba(0, 0, 0, 0.05)
}

.list {
    padding: 16px;
}

.item {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

p::selection {
    background-color: none;
}

.item {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
}

.item:hover {
    transform: scaleY(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}